@use 'base' as *;

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    width: auto;
    padding: 20px;
    background-color: $primary-color;
    color: $secondary-color;
    overflow: hidden;

    h1{
        font-family: $font-bodoni;
    }
    p{
        font-family: $font-mulish;
    }
}
.form__title{
    text-align: center;
    padding-right: 20px;
}
.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 600px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.contact-form textarea {
    resize: none;
    height: 200px; /* Een vaste hoogte voor de textarea */
}


.contact-form button {
    width: 50%;
    padding: 15px;
    border: 1px solid $secondary-color !important;
    background-color: $secondary-color !important;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-family: $font-mulish;
    cursor: pointer;
    &:hover{
        background-color: #683333 !important;
    }
}


@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    .contact-form button {
        padding: 12px;
        font-size: 16px;
    }
}