@use 'base' as *;

.background {
    background-image: url('/assets/aiony-haust-f2ar0ltTvaI-unsplash.png');
    background-size: cover;
    flex-direction: column;
    @include flex-center;
    height: 100vh;
    padding: 20px;
    position: relative;
    .content {
        text-align: center;
    }
    h1, p, button {
        margin: 10px 0;
        width: 100%;
        color: $tertiary-color;
    }
    h1{
        font-size: $font-xl-size;
        font-family: $font-bodoni;
    }
    p{
        font-size: $font-md-size;
        font-family: $font-mulish;
    } 
    button {
        @include button-border(true);
        background-color: transparent;
        width: auto;
        &:hover{
            background-color: $tertiary-color;
            color: $secondary-color;
        }
    }
}
.navbar{
     @include navbar-link-colors($tertiary-color, $secondary-color);
}
  
//info
.info {
    @include flex-center(space-between);
    flex-direction: column;
    background-color: $primary-color;
    color: $secondary-color;
    padding: 20px;
    max-width: 100%; 
    .title {
      font-size: $font-md-size;
      font-family: $font-bodoni;
      text-align: center;
      margin: 0 10% 0;
    }
    .uitleg {
      font-size: $font-sm-size;
      font-family: $font-mulish;
      text-align: center;
      margin: 0 10% 20px;
      line-height: 1.5;
    }
}
//producten
.producten {
    background-color: $tertiary-color;
    padding-bottom: 50px;
    text-align: center;
    .product-row{
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        @include flex-center; 
        flex-wrap: wrap; 
        margin-bottom: 20px;   
    }
    .producten-title {
        font-size: $font-md-size;
        color: $secondary-color;
        font-family: $font-bodoni;
        padding: 20px;
        margin: 0;
    }
    .product-card {
        width: 30%;
        box-sizing: border-box;
        margin: 10px 0;
        text-align: center;
        h2 {
          font-size: $font-sm-size;
          margin-bottom: 5px;
          font-family: $font-bodoni;
        }
        img {
          max-width: 70%;
          height: auto;
          display: block;
          margin-bottom: 10px;
          margin: 0 auto;

        }
        p {
          font-family: $font-mulish;
          margin: 0;
        }
        .prijskleur{
          color: $secondary-color;
        }
        a{
          color: #000;
          display: block;
        }
    }
}
//contact

.contact{
    background-color: $secondary-color;
    color: $tertiary-color;
    @include flex-center(space-between);
    flex-direction: row;
    padding: 100px;
    max-width: 100%; 
    margin: auto;
    .title {
        @include imagetext;
        h2{
            @include position-absolute(175px);
            font-size: $font-md-size;
            font-family: $font-bodoni;
        }
        img{
            width: 75%;
            height: auto;
            display: block;
            margin: 0 auto;
        }
    }
    .gegevens {
        font-size: $font-sm-size;
        text-align: center;
        margin-right: 300px;
        line-height: 1.5;
        font-family: $font-mulish;
        font-weight: lighter;
        a {
            color: $primary-color;
        }
    }
    
}

 
  
  