{% set siteSettings = craft.app.globals.getSetByHandle('mainNavigation') %}
{% if siteSettings %}
    {% set navigationItems = siteSettings.navigationitems.all() %}

    <ul>
        {% for item in navigationItems %}
            <li class="{{ item.urllinks == craft.app.request.url ? 'active' : '' }}">
                <a href="{{ item.urllinks }}">
                    {{ item.navname }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
