{% extends "_layout.twig" %}

{% block content %}
		<div class="navbarpro" id="navbarjs">
			{% include '_snippets/_nav.twig' %}
		</div>
		{% include '_snippets/_logoBlack.twig' %}



		<div class="form">
			<div class="form__title">
				<h1>{{ contact.formtitle }}</h1>
				<p>{{ contact.formdescription }}</p>
			</div>
			<div class="contact-form">
				{{ craft.formie.renderForm('contactus') }}
			</div>
		</div>

{% endblock %}

