<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Producten | K-Serenity Skincare</title>
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		<div class="navbarpro" id="navbarjs">
			{% include '_snippets/_nav.twig' %}
		</div>
		{% include '_snippets/_logoBlack.twig' %}

		{% set contact = craft.entries.section('contact').one() %}

		<div class="form">
			<div class="form__title">
				<h1>{{ contact.formtitle }}</h1>
				<p>{{ contact.formdescription }}</p>
			</div>
			<form class="contact-form">
				<label for="name">Naam:</label>
				<input type="text" id="name" name="name" required>

				<label for="email">Email:</label>
				<input type="email" id="email" name="email" required>

				<label for="onderwerp">Onderwerp:</label>
				<input type="text" id="onderwerp" name="onderwerp" required>

				<label for="message">Bericht:</label>
				<textarea id="message" name="message" rows="5" required></textarea>

				<button type="submit">Verzend</button>
			</form>
		</div>
		<footer>
			{% include '_snippets/_footer.twig' %}

		</footer>

	</body>
</html>
