<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Contact | K-Serenity Skincare</title>
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		<div class="navbarpro" id="navbarjs">
			{% include '_snippets/_nav.twig' %}
		</div>
		{% include '_snippets/_logoBlack.twig' %}

		{% set contact = craft.entries.section('contact').one() %}



		<div class="form">
			<div class="form__title">
				<h1>{{ contact.formtitle }}</h1>
				<p>{{ contact.formdescription }}</p>
			</div>
			{{ craft.freeform.form('contactForm') }}
		</div>
		

		<footer>
			{% include '_snippets/_footer.twig' %}

		</footer>

	</body>
</html>
