<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Producten | K-Serenity Skincare</title>
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		<div class="navbarpro" id="navbarjs">
			{% include '_snippets/_nav.twig' %}
		</div>
		<div class="logo">
			<img src="/assets/SVG/SVG/Logo-zwart.svg" alt="logo">
		</div>
		<div class="producten-titel">
			<h1>Onze Producten</h1>
			<p>Ontdek onze uitgebreide collectie Koreaanse skincare producten.</p>
		</div>
		<div
			class="background-producten">
			<!-- Filter sectie -->
			<div class="filter">
				<div class="filter-col">
					<label for="merk-filter">Filter op merk:</label>
					<select id="merk-filter">
						<option value="merk1">Merk 1</option>
						<option value="merk2">Merk 2</option>
					</select>
					<!--moet js nog doen-->
					<label for="prijs-filter" class="prijs-filter">Filter op prijs:</label>
					<input type="range" id="prijs-filter" min="0" max="1000">
				</div>
			</div>

			<div class="product-grid">

				<div class="product-row">
					<div class="product-card">
						{% set products = craft.entries.section('products').type('productentry').all() %}

						{% for product in products %}
							{% include '_skincareCard.twig' with { product: product } %}
						{% endfor %}


					</div>
				</div>
			</div>
			<div class="pagination">
				<a href="#">&laquo; Vorige</a>
				<a href="#">1</a>
				<a href="#">2</a>
				<a href="#">Volgende &raquo;</a>
			</div>
		</div>
		<footer>
			{% include '_snippets/_footer.twig' %}
		</footer>
	</body>
</html>
